/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;

}
/* Some Variables*/
::root{
    --main-color: #ffb43a;
    --hover-color: hsl(37,94%,57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;

}

a{
    text-decoration: none;

}

li{
    list-style: none;

}

section{
    padding: 3rem 0 2rem;

}

img{
    width: 200px;
    height: 300px;

}

.bx{
  cursor: pointer;  

}
body{
    background: var(--body-color);
    color: var(--text-color);
    background-color: #1e1e2a;

}

.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;

}

/*Nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

}

/*Logo*/
.logo{
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;

}

.logo span{
    color: #ffb43a;

}

/*Search Box*/
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: #2d2e37;
    border-radius: 4rem;
    margin-right: 1rem;

}

.search-box .bx{
    font-size: 1.1rem;

}
.search-box .bx:hover{
    color: #ffb43a;

}

#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: #fcfeff;
    background: transparent;
    font-size: 0.938rem;

}

/*User*/
.user{
    display: flex;

}

.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}

/* Navbar*/
.navbar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;

}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;

}

.nav-link:hover,
.nav-active{
    color: #fcfeff;
    transition: 0.3s all linear;
    transform: scale(1.1);

}

.nav-link .bx{
    font-size: 1.6rem;

}

nav-link-title{
    font-size: 0.7rem;

}

/*Home*/
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;

}

.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;

}

.home-text{
   padding-left: 40px; 

}

.home-title{
    font-size: 2rem;
    font-weight: 600;
    color: #fcfeff;

}

.home-text p{
    font-size: 0.938rem;
    margin: 10px 0 20px;
    color: #ffb43a;

}

.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: #fcfeff;

}

.watch-btn .bx{
    font-size: 21px;
    background: #ffb43a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.watch-btn .bx:hover{
    background: hsl(37,94%,57%);

}

.watch-btn span{
    font-size: 1rem;
    font-weight: 400;
    color: #fcfeff;

}

/*Heading*/
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2d2e37;
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;

}

.heading-title{
    color: #fcfeff;
    font-size: 1.2rem;
    font-weight: 500;

}
.swiper-slide{
    color: #fcfeff;

}

.movie-box{
    position:relative;
    width: 100%;
    height: 380px;
    overflow: hidden;

}

.movie-box img{
    object-fit: cover;
    box-sizing: border-box;

}

.movie-box .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%,hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;

}

.movie-title{
    font-size: 1.1rem;
    font-weight: 500;

}
.movie-type{
    font-size: 0.938rem;

}
.play-btn{
    position: absolute;
    top: 16rem;
    left: 10rem;

}

/*Swiper Btns*/
.swiper-btn{
    display: flex;

}

.swiper-button-next, .swiper-button-prev{
    position: static !important;
    margin: 0 0 0 10px !important;

}

.swiper-button-next::after, .swiper-button-prev::after{
    color: #fcfeff;
    font-size: 20px !important;
    font-weight: 700;

}

.movies .heading{
    padding: 10px 14px;

}

.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px,1fr));
    gap: 1.5rem;

}

.movie-title{
    color: #fcfeff;

}

.movie-type{
    color: #fcfeff;

}

.movies-content .movie-box:hover .movie-box-img{
    transform: scale(1.1);
    transition: 0.5s;

}

.next-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;

}

.next-btn{
    background: #ffb43a;
    padding: 12px 20px;
    color: #fcfeff;
    font-weight: 500;

}

.next-btn:hover{
    background: hsl(37,94%,57%);
    transition: 0.3s all linear;

}

/*Copyright*/
.copyright{
    text-align: center;
    padding: 20px;
    color: #fcfeff;

}


/*Play Container*/
.play-container{
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;

}

.play-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    z-index: -1;
    top: 20px;
    
}

.play-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%,hsl(240 17% 14% / 14%) 44%);

}

.play-text h2{
    font-size: 1.5rem;
    font-weight: 600;

}

.rating{
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    margin-top: 4px;

}

.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
    
}

.tags span{
    background: #2d2e37;
    padding: 0 4px;
    
}
.play-movie{
    position: absolute;
    bottom: 18rem;
    right: 10rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffb43a;
    color: #fcfeff;
    font-size: 24px;
    animation: animate 2s linear infinite;

}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(255,100,58,0.7);

    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,193,7,0);

    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,193,7,0);

    }
    100%{
        box-shadow: 0 0 0  rgba(255,193,7,0);

    }

}

/*Vedio Container*/
.vedio-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
